@charset "UTF8";

@font-face {
    font-family: 'idroid';
    src: url(./fontes/idroid.otf) format(opentype);
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor01: #84E1AD;
    --cor02: #3DD980;
    --cor03: #2C9A5C;
    --cor04: #377352;
    --cor05: #1A5C38;

    --fonte-principal: 'Bebas Neue', sans-serif;
    --fonte-personalizada: 'idroid', sans-serif;
    

}

/*Global Settings*/

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--cor01);
    font-family: Arial, Helvetica, sans-serif;
}


h1, h2, h3 {
    padding: 5px;
}

img {
    width: 100%;
    margin: auto;
}

/*HEADER SETTINGS*/

header {
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor05));
    padding: 10px;
    text-align: center;
}



header h1 {
    padding: 10px 0px 20px 0px;
    color: white;
    font-family: var(--fonte-principal);
    font-weight: normal;
    text-shadow: 0px 0px 5px black;
}

header p {
    padding-bottom: 10px;
    color: white;
    margin: auto;
    max-width: 320px;
    text-shadow: 0px 0px 5px black;
}

/*NAV-BAR SETTINGS*/

nav {
    background-color: var(--cor05);
    padding: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.342);
}

nav a {
    text-decoration: none;
    color: var(--cor02);
    padding: 3px 5px;
    font-weight: bold;
    margin: auto;
    transition: 0.5s;
}

nav a:hover {
    text-decoration: underline;
    border-radius: 2px;
    background-color: var(--cor01);
    color: var(--cor05);

}

/*MAIN-SECTION SETTINGS*/

main {
    background-color: white;
    margin: auto;
    min-width: 300px;
    max-width: 800px;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius:  5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.342);
}

main p {
    padding: 10px;
    line-height: 1.5em;
    text-indent: 30px;
    text-align: justify;
}

main h1, h2 {
    font-family: var(--fonte-personalizada);
}

main h1 {
    color: var(--cor05);
}

main h2 {
    color: var(--cor04);
    background-image: linear-gradient(to right, var(--cor01), transparent);
    text-indent: 5px;
}

main p strong {
    color: var(--cor05);
    font-weight: bold;
}

main p a {
    text-decoration: none;
    color: var(--cor05);
    font-weight: bold;
    padding: 5px;
}

main p a::after {
    content: '\00A0\1F517';
}

main p a:hover {
    text-decoration: underline;
    background-color: var(--cor05);
    color: var(--cor01);
    border-radius: 5px;
}

.bug-droid {
    width: 40%;
    display: block;
    margin: auto;
}

/*VIDEO SETTINGS*/

.video-bg {
    background-color: var(--cor05);
    padding: 40px 20px;
    margin: 40px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.video-container {
    width: 100%;
    aspect-ratio: 16/9;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/*ASIDE SETTING*/

aside {
    background-color: var(--cor01);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.267);
    border-radius: 5px;
    margin-bottom: 5px;
}

aside ul {
    list-style-position: inside;
    list-style-type: none;
    columns: 2;
    padding: 10px;
}

aside ul li::before {
    content: '\2714\00A0';
}

aside h3 {
    background-color: var(--cor03);
    border-radius: 5px 5px 0px 0px;
    padding: 8px 10px;
    color: white;
    font-size: 1em;
}

/*FOOTER SETTINGS*/

footer {
    background-color: var(--cor05);
    color: white;
    padding: 5px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: var(--cor01);
}

footer a:hover {
    text-decoration: underline;
}

